{% extends 'base.html' %}
{% load order_extras %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<div class="well">
{% show_order_totals order None %}
</div>

<h2>
	<small>Total Paid:</small> ${{order.total_paid|floatformat:2}}
	<small>Remaining:</small> ${{order.total_remaining|floatformat:2}}
</h2>

<form method="post" action="{% url 'orders:recalculate' order.id %}" class="col-12 col-lg-12">{%csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th>Who</th><th>Items</th><th>Total Owed</th>
			</tr>
		</thead>
		<tbody>
			{% regroup sorteditems by person as people %}
			{% for person in people %}
			<tr>
				<td>{{person.grouper.name}}</td>
				<td>{% show_item_collection person.list false 'coffee' 'quantity' 'size' 'personal' 'value' %}</td>
				<td>{% person_total person.grouper order %}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h3>Payments</h3>
	<table class="payments col-4 col-lg-4 table table-striped">
		<thead>
			<tr><th>Who</th><th>Owed</th><th>Paid</th></tr>
		</thead>
		<tbody>
	{% for payment in order.payment_set.all %}
			<tr>
				<td>{{payment.person}}</td>
				<td class="text-right">{{payment.owed|floatformat:2}}</td>
				<td class="text-right{% if payment.paid >= payment.owed %} positive{% else %} negative{% endif %}">{{payment.paid|floatformat:2}}</td>
			</tr>
	{% endfor %}
		</tbody>
	</table>
</form>

{% endblock %}
