{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<form method="post" action="{% url 'orders:close' order.id %}" class="well">
	{% csrf_token %}
	<fieldset>
		<legend>Order Totals</legend>
		<table class="pull-left">
			<tbody>
				<tr><td>Team:</td><td>{{order.team_total|floatformat:2}}</td></tr>
				<tr><td>Personal:</td><td>{{order.personal_total|floatformat:2}}</td></tr>
				<tr><td>Grand:</td><td>{{order.grand_total|floatformat:2}}</td></tr>
			</tbody>
		</table>
		<div class="pull-right">
			<small>Individual Team Contribution: {{order.team_individual_contribution|floatformat:2}}</small><br/>
			<small>({{order.team.person_set.count}} people on <a href="{% url 'orders:teams' %}">{{order.team.name}}</a>)</small>
		</div>
	</fieldset>
</form>

<h2>By Person</h2>
<ul>
{% for items in itemsbyperson %}
	<li>
		<h3>{{items.person}}:</h3>
		<ul>
		{% for oi in items.items %}
			<li>{{oi}}</li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>

<h2>By Coffee</h2>
<ul>
{% for items in itemsbycoffee %}
	<li>
		<h3>{{items.coffee}}:</h3>
		<span class="pounds">{{items.pounds}}</span>
		<span class="value">{{items.value}}</span>
		<ul>
		{% for oi in items.items %}
			<li>{{oi}}</li>
		{% endfor %}
		</ul>
	</li>
{% endfor %}
</ul>


{% endblock %}