{% extends 'base.html' %}
{% load order_extras %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<div class="well">
{% show_order_totals order None %}
</div>

<h2>
	<small>Total Paid:</small> ${{order.total_paid|floatformat:2}}
	<small>Remaining:</small> ${{order.total_remaining|floatformat:2}}
</h2>

<form method="post" action="{% url 'orders:recalculate' order.id %}" class="col-12 col-lg-12">{%csrf_token %}
	<table class="table">
		<thead>
			<tr>
				<th>Who</th><th>Items</th><th>Total Owed</th><th>Paid</th>
			</tr>
		</thead>
		<tbody>
			{% regroup sorteditems by person as people %}
			{% for person in people %}
			<tr>
				<td>{{person.grouper.name}}</td>
				<td>{% show_item_collection person.list false 'coffee' 'quantity' 'size' 'personal' 'value' %}</td>				
				<td>{% person_total person.grouper order %}</td>
				<td>
					<input class="form-control" type="number" min="0.0" step="0.5" value="{% person_paid person.list %}" />
				</td>
			</tr>
			{% endfor %}			
		</tbody>
	</table>
	<button type="submit" class="btn btn-large btn-primary">Recalculate</button>
</form>

{% endblock %}
