{% extends 'orders/order_base.html' %}

{% block title %}{{title}}{% endblock %}

{% block extrascript %}
	<script>
		$('#itemform').submit(function () {
			$('.form-group .btn-group .btn.active input[type="radio"]').prop('checked', true);
		});
	</script>
{% endblock %}

{% block extrastyle %}
	<style>
		table tr td:last-child { text-align: right; }
		table tr:last-child { border-top: solid 1px #ccc; }

		#team li a:last-child,
		#personal li a:last-child
		{ border-left: solid 1px #ccc; padding-left: 5px; }

		.ib { display: inline-block; }
	</style>
{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<form method="post" action="{% url 'orders:place' order.id %}" class="well">
	{% csrf_token %}
	<fieldset>
		<legend>
			Order Totals
			<input type="submit" class="btn btn-default pull-right" value="Place Order" />
		</legend>
		<table class="pull-left">
			<tbody>
				<tr><td>Team:</td><td>{{order.team_total|floatformat:2}}</td></tr>
				<tr><td>Personal:</td><td>{{order.personal_total|floatformat:2}}</td></tr>
				<tr><td>Grand:</td><td>{{order.grand_total|floatformat:2}}</td></tr>
			</tbody>
		</table>
		<div class="pull-right">
			<small>Individual Team Contribution: {{order.team_individual_contribution|floatformat:2}}</small><br/>
			<small>({{order.team.person_set.count}} people on <a href="{% url 'orders:teams' %}">{{order.team.name}}</a>)</small>
		</div>
	</fieldset>
</form>

<div>
	<h3>Add to Order</h3>
	<form id="itemform" method="post" action="{% url 'orders:detail' order.id %}" class="col-lg-12 col-12">
		{% csrf_token %}
		<fieldset>
			{{ orderform.non_field_errors }}

			<div class="form-group col-8 col-lg-2">
				{{ orderform.person.label_tag }}
				{{ orderform.person }}
				{{ orderform.person.errors }}
			</div>

			<div class="form-group col-8 col-lg-2">
				{{ orderform.coffee.label_tag }}
				{{ orderform.coffee }}
				{{ orderform.coffee.errors }}
			</div>

			<div class="form-group col-8 col-lg-2">
				{{ orderform.size.label_tag }}
				<div class="btn-group" data-toggle="buttons">
				{% for choice_id, choice_label in orderform.size.field.choices %}
					<label class="btn btn-info">
						<input type="radio" name="{{orderform.size.html_name}}" id="sizechoice{{forloop.counter}}" value="{{choice_id}}" />
						{{ choice_label }}
					</label>
				{% endfor %}
				</div>
				{{ orderform.size.errors }}
			</div>

			<div class="form-group col-8 col-lg-3">
				{{ orderform.quantity.label_tag }}
				<div class="btn-group" data-toggle="buttons">
				{% for choice_id, choice_label in orderform.quantity.field.choices %}
					<label class="btn btn-info">
						<input type="radio" name="{{orderform.quantity.html_name}}" id="qtychoice{{forloop.counter}}" value="{{choice_id}}" />
						{{ choice_label }}
					</label>
				{% endfor %}
				</div>
				{{ orderform.quantity.errors }}
			</div>

			<div class="form-group col-8 col-lg-2">
				<label>&nbsp;</label>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="checkbox" id="id_personal" name="{{orderform.personal.html_name}}" value="{{orderform.personal.value}}" />
						Item is {{ orderform.personal.label }}
					</label>
				</div>
				{{ orderform.personal.errors }}
			</div>
			<div class="form-group col-12 col-lg-12">
				<input type="submit" value="Add to Order" class="clearfix btn btn-large btn-primary" />
			</div>
		</fieldset>
	</form>
</div>

{% if order.orderitem_set.count %}

<ul class="nav nav-tabs col-12 col-lg-12" style="margin-top:1em;">
	<li class="active"><a href="#team" data-toggle="tab">Team</a></li>
	<li><a href="#personal" data-toggle="tab">Personal</a></li>
</ul>

<div class="tab-content">
	<section id="team" class="tab-pane active in col-12 col-lg-12">
		<h3>Team Orders</h3>
		{% for item in order.orderitem_set.all %}
			<ul class="list-unstyled">
			{% if not item.personal %}
				<li>
					<span class="col-10 col-lg-10">{{item}}</span>
					<form method="POST" action="{% url 'orders:delete_item' item.id %}" class="ib">{% csrf_token %}
						<input type="submit" class="btn btn-danger btn-xs" value="&times; Delete" />
					</form>
				</li>
			{% endif %}
			</ul>
		{% endfor %}
	</section>

	<section id="personal" class="tab-pane col-12 col-lg-12">
		<h3>Personal Orders</h3>
		{% for item in order.orderitem_set.all %}
			<ul class="list-unstyled">
			{% if item.personal %}
				<li>
					<span class="col-10 col-lg-10">{{item}}</span>
					<form method="POST" action="{% url 'orders:delete_item' item.id %}" class="ib">{% csrf_token %}
						<input type="submit" class="btn btn-danger btn-xs" value="&times; Delete" />
					</form>
				</li>
			{% endif %}
			</ul>
		{% endfor %}
	</section>
</div>

{% endif %}
{% endblock %}