{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h2>{{title}}</h2>
<form class="col-lg-5 col-12" method="post" action="{% url 'orders:people' %}">
	{% csrf_token %}
	<fieldset>
		{{ pf.non_field_errors }}
		{% for field in pf %}
		<div class="form-group">
			{{ field.label_tag }}
			{{ field }}
			{{ field.errors }}
		</div>
		{% endfor %}
		<input type="submit" class="btn btn-large btn-primary" value="Create new Person" />
	</fieldset>
</form>

{% if people %}
<div class="col-12 col-lg-7">
	<h3>Existing People</h3>
	<table class="table table-striped">
		<thead>
			<tr><th>Name</th><th>Team</th></tr>
		</thead>
		<tbody>
		{% for person in people %}
			<tr>
				<td>{{ person.name }}</td><td>{{ person.team }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}

{% endblock %}


{% block extrascript %}
	<script>
		$(document).ready(function () {
			$('table').tablesorter();
		});
	</script>
{% endblock %}