{% extends 'base.html' %}
{% load order_extras %}

{% block title %}{{title}}{% endblock %}

{% block extrascript %}

	<script>
		$(document).ready(function () {
			$('#placement table').tablesorter();
		});
	</script>

{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<form method="post" action="{% url 'orders:close' order.id %}" class="well">
	{% csrf_token %}
	{% show_order_totals order 'Close Order' %}
</form>

<ul class="nav nav-tabs">
	<li class="active"><a href="#placement" data-toggle="tab">Order Placement</a></li>
	<li><a href="#person" data-toggle="tab">By Person</a></li>
</ul>

<div class="tab-content">
	<section id="placement" class="tab-pane active in coffeelist">
		<div class="mt1m">
			{% regroup sorteditems_coffee by coffee as itemsbycoffee %}
			{% for coffee in itemsbycoffee %}
			<strong>{{coffee.grouper}}</strong>
			<div class="ml1m">
				{% coffee_values coffee.list %}
			</div>
			{% endfor %}
			<strong>Grand Total Pounds: {{ totallbs }}</strong>
		</div>
	</section>

	<section id="person" class="tab-pane">
		{% regroup sorteditems_person by person as itemsbyperson %}

		{% for person in itemsbyperson %}
		<h3>{{person.grouper}}</h3>
		{% show_item_collection person.list false 'coffee' 'quantity' 'size' 'personal' %}
		{% endfor %}
	</section>
</div>

{% endblock %}
