{% extends 'base.html' %}
{% load order_extras %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<h2>{{order.date}} <small>{{order.team}}</small></h2>

<form method="post" action="{% url 'orders:close' order.id %}" class="well">
	{% csrf_token %}
	{% show_order_totals order 'Close Order' %}
</form>

<ul class="nav nav-tabs">
	<li class="active"><a href="#placement" data-toggle="tab">Order Placement</a></li>
	<li><a href="#person" data-toggle="tab">By Person</a></li>
</ul>

<div class="tab-content">
	<section id="placement" class="tab-pane active in">
		{% show_item_collection order.orderitem_set.all false 'coffee' 'quantity' 'size' %}
	</section>

	<section id="person" class="tab-pane">
		{% regroup order.orderitem_set.all by person as itemsbyperson %}
		{% for person in itemsbyperson %}
		<h3>{{person.grouper}}</h3>
		{% show_item_collection person.list false 'coffee' 'quantity' 'size' 'personal' %}
		{% endfor %}
	</section>
</div>

{% endblock %}