{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}Base Title{% endblock %}</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'orders/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'orders/css/custom.css' %}" />
	{% block extrastyle %}{% endblock %}
</head>
<body>
	<nav class="navbar">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="{% url 'orders:latest' %}" class="navbar-brand">Latest Order</a>

			<div class="nav-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url 'orders:index' %}">Orders</a></li>
					<li><a href="{% url 'orders:people' %}">People</a></li>
					<li><a href="{% url 'orders:coffee' %}">Coffee</a></li>
					<li><a href="{% url 'orders:teams' %}">Teams</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="col-12">
		{% if messages %}
		<div class="row">
			<ul class="messages list-unstyled nav nav-pills">
				{% for message in messages %}
				<li{% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}

		<div class="row">
		{% block content %}
		{% endblock %}
		</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'orders/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'orders/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'orders/js/jquery.tablesorter.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'orders/js/coffee_overlay.js' %}"></script>

	{% block extrascript %}{% endblock %}

	<script type="text/javascript">
		$(document).ready(function () {
			$('.coffee').each(function () {
				var co = new CoffeeOverlay(this);
				co.attach_events();
			});
		});
	</script
</body>
</html>
