<fieldset>
	<legend>
		Order Totals
		{% if action_text %}
		<input type="submit" class="btn btn-default pull-right" value="{{action_text}}" />
		{% endif %}
	</legend>
	<table class="pull-left">
		<tbody>
			<tr><td>Team:</td><td>{{order.team_total|floatformat:2}}</td></tr>
			<tr><td>Personal:</td><td>{{order.personal_total|floatformat:2}}</td></tr>
			<tr><td>Grand:</td><td>{{order.grand_total|floatformat:2}}</td></tr>
		</tbody>
	</table>
	<div class="pull-right">
		<small>Individual Team Contribution: {{order.team_individual_contribution|floatformat:2}}</small><br/>
		<small>
			({{order.team.person_set.count}} {{order.team.person_set.count|pluralize:"person,people"}} on
			<a href="{% url 'orders:teams' %}">{{order.team.name}}</a>)
		</small>
	</div>
</fieldset>