<tr>
	{% for c in columns %}
	<td>
		{% if c == 'who' %}{{item.person.name}}
		{% elif c == 'coffee' %}<span class="coffee" data-coffeeid="{{item.coffee.id}}">{{item.coffee.name}}</span>
		{% elif c == 'quantity' %}{{item.quantity}}
		{% elif c == 'size' %}{{item.size}}#
		{% elif c == 'personal' %}{{item.personal}}
		{% endif %}
	</td>
	{% endfor %}
	{% if can_delete %}
	<td>
		<form method="POST" action="{% url 'orders:delete_item' item.id %}" class="ib">{% csrf_token %}
			<button type="submit" class="btn btn-danger btn-small"><b>&times;</b> Delete</button>
		</form>
	</td>
	{% endif %}
</tr>